{% extends 'base.html' %} {% block content %}
<h1>{% block title %}about{% endblock %}</h1>

<p>
    welcome to my journal. i made it with python/flask and host it on a
    raspberry pi. it follows the
    <a href="https://journal.miso.town/" target="_blank">html journal</a>
    specification and supports RSS (<a href="{{ url_for('rss_feed')}}"
        >feed link</a
    >).
</p>

<p>the code is <a href="/">here</a>.</p>

<a href="{{ url_for('index') }}" class="btn btn-secondary btn-sm"
    >back to posts</a
>

{% endblock %}
